<h1>新規登録</h1>

<%= form_for(:session, url: loginnew_path) do |form| %>
<%= form_for(:session, url: loginnew_path) do |form| %>

  <div class="field">
    <%= form.label :ニックネーム %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :Eメール %>
    <%= form.text_field :mail %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :レベル %>
    <%= form.collection_select :level_id, @levels, :id, :level_name %>
  </div>

  <div class="field">
    <%= form.label :難易度 %>
    <%= form.select :level_stop, ["あり","なし"]%>
  </div>

  <%= form.submit "登録" %>      <%#押したときにログイン画面と登録実行%>
<% end %>