<p id="notice"><%= notice %></p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>権限:</strong>
  <%= @user.authority %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>レベル:</strong>
  <%= @user.level_id %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
