<p id="notice"><%= notice %></p>
<!doctype html>
<html lang="ja">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <%= stylesheet_link_tag "records", :media => "all" %>
</head>

<body style="margin: 0 11% 0; ">
    <!-- モーダルを開くボタン -->
    <div class="container">
        <div class="row my-3 p-1 text-center bg-primary text-white" >
            <h1>asterhealth</h1>
        </div>
              
    </div>
 
    <!-- ボタンクリック後に表示される画面の内容 -->
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
             
                <%= form_with(model: @record_data) do |form| %>

                    <div class="field">
                        <%= form.label :歩数 %>
                        <%= form.number_field :step %>
                    </div>

                    <div class="actions">
                        <%= form.submit "登録" %>
                    </div>

                <% end %>

            </div>
        </div>
    </div>

    <div class="modal fade" id="testModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
             
                <%= form_with(model: @user_data) do |form| %>

                    <div class="field">
                        <%= form.label :難易度 %>：
                        <% @levels.each do | level | %>
                            <%= form.radio_button :level_id,level.id %><%= level.level_name %>
                        <% end %>
                    </div>

                    <div class="field">
                        <%= form.label :難易度の固定%>：
                        <%= form.radio_button :level_stop,"あり"%>あり
                        <%= form.radio_button :level_stop,"なし"%>なし
                    </div>

                    <div class="actions">
                        <%= form.submit "変更" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>  

    <table>
        <th>
          難易度：<%= @level_name %>
        </th>
        <th>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#testModal1">難易度設定</button>
        </th>
        <tr>
          <th>
            難易度の固定：<%= @user_data.level_stop %>
          </th>
          <tr>
            <th>
              目標歩数: <%= @goal_step%>
            </th>
            <th>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#testModal">歩数入力</button>
            </th>
          </tr>
        <tr>
        
    </table>    

    <table class="table table-striped text-center "style="max-width:700px;">
        <thead>
            <tr>
              <th>歩数</th>
              <th>日時</th>           

              <th></th>
            
            </tr>
        </thead>

        <tbody>
            <% @login_user_records.each do |record| %>
                <tr>
                    <th><%= record.step %></th>
                    <th><%= record.recorded %> </th>

                    <td><%= link_to '削除', record, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
                </tr>
            <% end %>  
        </tbody>
    </table>   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <h1 class="p-1 text-center bg-info text-white">レーダーチャート</h1>
    <canvas id="myRaderChart"></canvas>
    <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  
    <script>
        alert(<%= @entry %>-<%= @rank %>)
        var ctx = document.getElementById("myRaderChart");
        var myRadarChart = new Chart(ctx, {
            type: 'radar', 
            data: { 
// /<%= @entry %>*10
                labels: ["歩数", "順位", "継続度"],　//継続度は5日前から各レベルで何歩以上歩いたかを確認し、歩いた場合1を代入し合計で計算
                datasets: [{
                    label: '<%= @user_data.nickname %>',
                    data: [(<%= @today_step2 %>/<%= @goal_step %>)*10 , 9, (<%= @achievement_count%>/5)*10 ],
                    backgroundColor: 'RGBA(0,128,180, 0.5)',
                    borderColor: 'RGBA(0,128,180, 1)',
                    borderWidth: 1.5,
                    pointBackgroundColor: 'RGB(46,106,177)'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '健康指数'
                },
                scale:{
                    ticks:{
                        suggestedMin: 0,
                        suggestedMax: 10,        
                        stepSize: 2,
                        callback: function(value, index, values){
                            return  value +  '点'
                        }
                    }
                },
                maintainAspectRatio: false
            }
        });
    </script>
</body>
 
</html>


<!-- 使わなくなるかも -->
<!-- <%= link_to "設定",levels_path %> -->
