<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Recorded:</strong>
  <%= @record.recorded %>
</p>

<p>
  <strong>Step:</strong>
  <%= @record.step %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @record.rank %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
