<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー名:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>登録日:</strong>
  <%= @record.recorded %>
</p>

<p>
  <strong>歩数:</strong>
  <%= @record.step %>
</p>

<p>
  <strong>順位:</strong>
  <%= @record.rank %>
</p>

<%= link_to '編集', edit_record_path(@record) %> |
<%= link_to '戻る', records_path %>
