<%= form_with(model: level) do |form| %>
  <% if level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
        <% level.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :階級 %>
    <%= form.radio_button :level_name,"初級"%>初級 
    <%= form.radio_button :level_name,"中級"%>中級 
    <%= form.radio_button :level_name,"上級"%>上級 
  </div>

  <div class="field">
    <%= form.label :難易度の固定%>
    <%= form.radio_button :level_stop,"あり"%>あり
    <%= form.radio_button :level_stop,"なし"%>なし
　</div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>

  
  
 
<% end %>


