<p id="notice"><%= notice %></p>

<p>
  <strong>レベル:</strong>
  <%= @level.level_name %>
</p>

<p>
  <strong>目標歩数:</strong>
  <%= @level.goal_step %>
</p>

<%= link_to '編集', edit_level_path(@level) %> |
<%= link_to '戻る', levels_path %>
